<%- include("header"); -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, asperiores. Voluptates possimus cupiditate eos dolorum beatae labore alias minus tempore maxime vero placeat, in architecto esse, facilis, ab exercitationem laudantium!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatem maiores alias a fugit quos fugiat culpa omnis, totam itaque perspiciatis ut iusto consectetur aspernatur nesciunt praesentium veniam distinctio, earum architecto. 
Ut id possimus odio ab ipsam saepe. Magni, iure.
</p>

<%- include("footer"); -%>